.container_room {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 400px); 
    grid-template-rows: 1fr 1fr 140px; 
    gap: 0px 0px;
    transition: 500ms;
    grid-template-areas: 
      "video_user chat"
      "video_users chat"
      "input_control chat";
}

.container_room-full {
  display: grid;
  grid-auto-columns: 1fr; 
  grid-template-rows: 1fr 1fr 140px; 
  gap: 0px 0px; 
  grid-template-areas: 
    "video_user"
    "video_users"
    "input_control";
}

.input_control {
  display: grid; 
  grid-template-columns: 1fr 1fr minmax(145px, 160px);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  transition: 500ms;
  grid-template-areas:
    "controll_button controll_button exit_button"
    "controll_button controll_button exit_button"
    "controll_button controll_button exit_button";
    grid-area: input_control;
}

.container_chat {
  gap: 0px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 140px;
  grid-template-areas:
    "chat_name"
    "chat_text"
    "controll_chat";
  grid-area: chat;
}

.chat_name { grid-area: chat_name; }
.chat_text { grid-area: chat_text; }
.btn_exit { grid-area: exit_button; }
.video_user { grid-area: video_user; }
.video_users { 
  width: 100%;
  height: auto;
  grid-area: video_users;
 }
.controll_chat { grid-area: controll_chat; }
.controll_button { grid-area: controll_button; }
