*{
    margin: 0;
    padding: 0;
    color: black;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
