@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.start {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: minmax(200px, 300px) 1.5fr 1fr 1fr; 
    grid-template-rows: 40px 1fr 1.8fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header header"
      "aside main main main"
      "aside main main main"; 
  }
  .main { grid-area: main; }
  .aside { grid-area: aside; }
  .header { grid-area: header; }
