@import '../../../style/animation.scss';
@import '../../../style/colors.scss';

.button-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 120px;
    border-bottom: 1px solid $gray;
}

.button-container_column {
    align-content: center;
    justify-content: space-evenly;
}

.button-container_row {
    align-items: center;
    flex-direction: column;
}

.button-create {
    margin: 5px;
    width: 100px;
    cursor: pointer;
    transition: 0.3s;
    min-height: 40px;
    border-radius: 8px;
    background-color: $blueOpacity;
    border: 1px solid $blackOpacity;
    &:hover {
        background-color: $blackOpacity;
    }
}